#tracksList .col-2 .fas:hover{
    cursor: pointer;
}

#poster_div {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background: url('../resources/disc.png');
    background-size:100% 100%;
}

#bg_img {
    width: 1000px;
    height: 800px;
    margin-top: -50px;
    margin-left: -100px;
    position: absolute;
    z-index: 0;
    /*-webkit-filter: blur(5px); !* Chrome, Safari, Opera *!*/
    filter: blur(30px);
}

#poster_needle {
    position: absolute;
    z-index: 90;
    width: 100px;
    /*transform-origin: 0px 0px;*/
    /*transform: rotate(-60deg);*/
    transform-origin: left top;
}

#music_poster_img {
    position: absolute;
    width: 190px;
    height: 190px;
    margin-left: 55px;
    margin-top: 55px;
    z-index: 80;
}

.animation_needle_play {
    transform: rotate(-40deg);
    transform-origin: left top;
    animation:needle_play 4s linear;
}

.animation_needle_pause {
    transform: rotate(-60deg);
    transform-origin: left top;
    animation:needle_pause 4s linear;
}

.animation_play {
    width: 190px;
    height: 190px;
    /*border:1px solid white;*/
    border-radius: 100px;
    /*overflow: hidden;*/
    /*float: left;*/
    animation:rotating 6s  linear infinite;
}

.animation_pause {
    width: 190px;
    height: 190px;
    /*border:1px solid white;*/
    border-radius: 100px;
    /*overflow: hidden;*/
     /*float: left;*/
    animation:rotating 6s  linear paused;
}

#lyrics_box {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    background: #8c89ff;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes needle_play {
    from {
        transform: rotate(-60deg);
    }
    to {
        transform: rotate(-40deg);
    }
}

@keyframes needle_pause {
    from {
        transform: rotate(-40deg);
    }
    to {
        transform: rotate(-60deg);
    }
}

#playlist {
    text-align: left;
    max-width: 250px;
    height: 500px;
    padding: 5px;
    position: absolute;
    left: 0;
    z-index: 999;
    background-color: rgba(50, 50, 50, 0.5);
}

#playlist ol {
    height: 480px;
    overflow: auto;
    margin: 0;
}
#lyricWrapper {
    height: 315px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    color: #fff;
}

/* http://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
#lyricContainer {
    position: relative;
    top: 130px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

/*the highlight color of the current lyric line*/
.current-line-0 {
    color: #FAFA17;
}
.current-line-1 {
    color: #ff1493;
}
.current-line-2 {
    color: #adff2f;
}
.current-line-3 {
    color: #c617e8;
}
.current-song, .current-song a {
    color: #A6E22D;
}
/*hide the default audio controls when overflow, the 526px is the width of the controls in IE*/
@media screen and (max-width: 526px) {
    #player {
        display: none;
    }
}

/*custom scrollbar for webkit browsers*/
#playlist ol::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
    background-color: #F5F5F5;
}

#playlist ol::-webkit-scrollbar
{
    width: 5px;
    border-radius: 15px;
    background-color: #F5F5F5;
}

#playlist ol::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #BCBCBC;
}

